ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#addTodo {
  width: 100%;
  text-align: center;
  margin: 50px 0 40px;
}

.blockDiv {
  display: inline-block;
  background-color: lightpink;
  min-width: 240px;
  min-height: 200px;
  margin: 15px;
  overflow: auto;
  max-width: 240px;
  max-height: 200px;
  position: relative;
  padding: 10px;
}

.blockDiv input[type="checkbox"]{
  margin-right:8px;
}

.nav-header {
  margin-bottom: 0px !important;

  background-color: #bbb !important;
}

.navbar {
  margin-bottom: 0px !important;
}

.active-page-menu {
  background-color: #ddd !important;
}

.popup-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: grey;
  opacity: 0.4;
  z-index: 5;
}

.popup {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  margin: auto;
  
}
.popup-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background: #2196f3;
  color: white;
}
.popup-body {
  padding: 10px;
}

li {
  text-align: left;
}

hr {
  margin: 0px 0px 0px 0p;
  padding: 0px;
  border: 0;
  border-bottom: 4px solid grey;
  color: lightpink;
}

.title {
  text-align: center;
}



.delete-btn {
  position: absolute;

  right: 10px;
}

/* Darker background on mouse-over */

.todo-list {
  list-style-type: none;
}

.color-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer {
  position: absolute;
  height: 30px;
  width: 100%;
  background-color: lightsteelblue;
  bottom: 0;
  text-align: right;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #03a9f4;
  font-weight: 600;
  color: white;
  display: flex;
  padding: 0px 10px;
  justify-content: left;
  align-items: center;
  font-size: 23px;
}

.label {
  width: 100px;
}

.editor-itemLabel{
  margin-left:8px;
}

.completed {
  text-decoration: line-through;
  color: #666;
}
